.month-selector--month {
  width: 31.333%;
  margin: 0.5%;
  height: 23%;
  display: inline-block;
  color: #4a4a4a;
  border: 1px solid #efefef;
  opacity: 0.2;
}

.month-selector--month.selectable {
  opacity: 1;
}

.month-selector--month.selectable:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
}

.month-selector--month.selected {
  background: #f7901e;
  color: #fff;
}

.month-selector--month:before {
  content: " ";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.month-selector--month span {
  vertical-align: middle;
  display: inline-block;
}
